html{
    scroll-behavior: smooth;
}



body{
    background-color:lightsteelblue ;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0.0 20px blue;

}
.container{
    margin: auto;
}
header{
    text-align: center;
    border: none;
    background-color: aqua;
}
nav{
    background-color: rgb(228, 228, 122);
}
main{
    text-align: center;
    font-size: auto;
    background-color: aqua;
    height: auto;
}
footer{
    background-color:red;
    height: auto;
    text-align: center;
    padding-top: 20px;
}
img{
    text-align: center;
}
li{
    list-style: none;
}
article,aside{
    height: 100vh;
}

article,aside{


    background-color: white;
   
    border-radius: auto;
    margin-bottom: auto;
    box-shadow:0px 5px 10px rgba(0,0,0,0.2) ;
    height: auto;
    
}